body{
    background-color: #000000;
    color: #F6F6F6;
}

main{
width: 60%;
height: 100%;
display: flex;
margin-top: 5rem;
margin-left: 250px;
}


#emphasis {
    color: #22D4FD;
    border: 1px solid #F6F6F6;
}

.articles{
margin-top: 50px;
 margin-left: 50px;
}

a { 
    width: 20%;
    justify-content: center;
    background-color: #22D4FD;
    color: #000000;
    text-decoration: none;
    padding: 16px;
    gap: 50px;
    border-radius: 0.6rem;
    
}

img {
width: 360px;
height: auto;
}
/* Adicionar mais estilos conforme necessário */
