body{
    background-color: #000000;
    color: #F6F6F6;
}

h1 {
    
    /* Adicionar mais estilos conforme necessário */
}
p {
    
    /* Adicionar mais estilos conforme necessário */
}
a {
    background-color: deepskyblue;
    color: rgb(0, 0, 0);
    border: none;
    /* Adicionar mais estilos conforme necessário */
}
img {
    /* Adicionar estilos para formatar a imagem */
}
/* Adicionar mais estilos conforme necessário */
